.About__content {
  /*background-image: url('../../../assets/image/1.jpg');*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding-top: 1rem;
  background-position: center center;
	background:#0F162F;

  /* Background image doesn't tile */
  background-repeat: no-repeat;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d122a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230c0e25' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%230a0b21' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2309071c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23070318' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  /* Background image is fixed in the viewport so that it doesn't move when 
	the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
	on the container's size */
  background-size: cover;
}
.actions-content {
  font-family: Montserrat, sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  color: #d4dcff;
}
.link_about {
  color: #5396e7;
  font-weight: 600;
  transition: color 0.2s ease-out;
}
.link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  margin-bottom: 2rem;
}
.link:hover {
  color: #d4dcff;
  border-color: #5396e7;
  transform: scale(1.5);
}
.actions-content-btn > a {
  color: #d4dcff;
}

.actions-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.actions {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 30em) {
  p {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .stack-list {
    font-size: .8rem !important;
  }
}
