@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
  box-sizing: border-box;
}
:root{
	    --color-dark: #f0f3ff;
    --color: #d4dcff;
    --color-light: #8491c7;
    --color-inversed: #d4dcff;
    --contrast: #5396e7;
    --gap: 20px;
    --space: 8px;
    --border: #2a2e5e;
    --border-light: #161e3b;
    --background: #171933;
    --background-light: #1b1e3d;
    --card-bg: #22244d;
    --card-bg-footer: #1d1f42;
    --shadow: rgba(0, 0, 0, 0.2);
    --play: #1d1d3a;
    --list-hover: #282a5a;
    --card-footer: #1b1d3d;
    --skeleton: #0f1224;
    --skeleton-wave: #171933;
    --red: #A6333F;
    --selection-background: #3D59A1;
}

html {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Anonymous Pro', monospace;
  font-family: 'Megrim', cursive;
  font-family: 'Share Tech Mono', monospace;
  font-family: 'Michroma', sans-serif;
  font-family: 'Vibes', cursive;
  font-family: 'Bahiana', cursive;
  font-family: 'Nova Flat', cursive;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: #0F152E;
  /*background-image: url('./assets/image/06.png');*/
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
	the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
	on the container's size */
  background-size: cover;
}

main{
	margin-top: 0rem;
}
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
